<%- include('partials/header') %>

<div class="container">
  <form class="" action="/add" method="post">
    <h3>Add a new achievement from here</h3>
    <input type="text" name="achievement" placeholder="Add the achievement">
    <button type="submit" class="btn btn-outline-primary btn-lg" name="button">Add</button>
  </form>
</div>



<%- include('partials/footer') %>
